<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Slingshot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90BCC37C2A7D3225002BA1F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90BCC38C2A7D3227002BA1F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90BCC3962A7D3227002BA1F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
